@use '@weni/unnnic-system/src/assets/scss/unnnic.scss' as *;

@mixin unnnic-text-body-lg {
  font-size: $unnnic-font-size-body-lg;
  line-height: $unnnic-font-size-body-lg + $unnnic-line-height-md;
}

@mixin unnnic-text-body-gt {
  font-size: $unnnic-font-size-body-gt;
  line-height: $unnnic-font-size-body-gt + $unnnic-line-height-md;
}

@mixin unnnic-text-body-md {
  font-size: $unnnic-font-size-body-md;
  line-height: $unnnic-font-size-body-md + $unnnic-line-height-md;
}

@mixin button-reset {
  padding: unset;
  background: unset;
  border: unset;
  outline: none;
  box-shadow: none;
}